<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>52219562954-1pob603qmmbie9s7vlrs4412toh49h14.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.52219562954-1pob603qmmbie9s7vlrs4412toh49h14</string>
	<key>API_KEY</key>
	<string>AIzaSyDqrfHqMjMcoogPxiFjRdT4VGibS3WRCno</string>
	<key>GCM_SENDER_ID</key>
	<string>52219562954</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>T4.NewsApp</string>
	<key>PROJECT_ID</key>
	<string>news-reveal</string>
	<key>STORAGE_BUCKET</key>
	<string>news-reveal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:52219562954:ios:76f0aa2f507e649d711d33</string>
	<key>DATABASE_URL</key>
	<string>https://news-reveal.firebaseio.com</string>
</dict>
</plist>